<ion-content>
  <ion-list-header>Select Unit of Measure</ion-list-header>
  <ion-list *ngFor="let item of this.dataList">
    <ion-item button>Qty on Hand &nbsp;&nbsp;&nbsp;{{item.Qty_Available}}</ion-item>
    <ion-item button>Qty Reserved &nbsp;&nbsp;&nbsp;{{item.Qty_Reserved}}</ion-item>
    <ion-item button>Qty on Order&nbsp;&nbsp;&nbsp;{{item.Qty_On_Order}}</ion-item>
    <!-- <ion-item lines="none" detail="false" button onClick="dismissPopover()">Close</ion-item> -->
  </ion-list>
</ion-content>