<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons *ngIf="itemsMenu" slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-icon name="apps"></ion-icon> -->
    </ion-buttons>
    <ion-title *ngIf="tittleItems">Create Items</ion-title>
    <ion-title *ngIf="tittleSelectItems">Select Items</ion-title>
    <ion-buttons *ngIf="closeButton" slot="end">
      <ion-icon style="width: 77px; height: 39px" name="close-outline" (click)="closeItems()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scrollX="true" #pageTop scrollEvents="true" (ionScroll)="scroll($event)">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="form">
    <form [formGroup]="regform">
      <ion-list>
        <ion-item hidden>
          <ion-datetime displayFormat="MMM DD, YYYY HH:mm:ss" formControlName="date" [min]="minDate" [max]="maxDate"
            [(ngModel)]="currentDate"></ion-datetime>
          StockAdNumber
        </ion-item>
        <ion-item>
          <ion-label>Name </ion-label>
          <!-- pattern="[a-zA-Z ]*" -->
          <ion-input formControlName="name" required></ion-input>
          <!-- <span *ngIf="!regform.get('name').valid && regform.get('name').touched" > Enter  Name </span> -->
          <!-- <div *ngIf="regform.get('name').invalid && (regform.get('name').dirty ||regform.get('name').touched)"
          class="alert alert-danger">
          <div *ngIf="regform.get('name').errors.required">
            Name is required.
          </div>
        </div> -->
          <small class="form-text text-muted" *ngIf="regform.get('name').touched &&
        regform.get('name').hasError('required')">This field is required!</small>
          <!-- <small class="form-text text-muted" *ngIf="regform.get('name').touched
        && regform.get('name').hasError('invalidNumber')">Numbers accepted only!</small> -->
        </ion-item>
        <ion-item>
          <ion-label>Amharic Name </ion-label>
          <ion-input formControlName="AmaricName"></ion-input>
          <small class="form-text text-muted"
            *ngIf="!regform.get('AmaricName').valid && regform.get('AmaricName').touched">
            This field is required!</small>
        </ion-item>
        <ion-item>
          <ion-label>Item Category</ion-label>
          <ion-select interface="popover" formControlName="CatagoryId" [(ngModel)]="SelectedCatagory">
            <ion-select-option *ngFor="let code of ListOfItemCategory" value="{{code?.id}}">
              {{code?.categoryName}}
            </ion-select-option>
          </ion-select>
          <small class="form-text text-muted" *ngIf="!regform.get('CatagoryId').valid &&
        regform.get('CatagoryId').touched ">
            This field is required!</small>
        </ion-item>
        <ion-item>
          <ion-label>Item Type</ion-label>
          <ion-select interface="popover" formControlName="type" [(ngModel)]="itemType">
            <ion-select-option value="Stocked product">Stocked product</ion-select-option>
            <ion-select-option value="Serialized product">Serialized product</ion-select-option>
            <ion-select-option value="Non-Stocked product">Non-Stocked product</ion-select-option>
            <ion-select-option value="Service">Service</ion-select-option>
          </ion-select>
          <small class="form-text text-muted" *ngIf="!regform.get('type').valid &&
        regform.get('type').touched ">
            This field is required!</small>
        </ion-item>
        <ion-list *ngIf="storeV">
          <ion-item>
            <ion-label>AA Lebu </ion-label>
            <ion-input hidden type="text" formControlName="locationId2" [(ngModel)]="locationId2"></ion-input>
            <ion-input style="text-align: center;margin-left: 12px;
            margin-right: 12px;" type="number" formControlName="quantity2" [(ngModel)]="quantity2" class="form-control"
              (keyup)="onKey(AAlebu,quantity2,locationId2)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>AA Chirkos</ion-label>
            <ion-input hidden type="text" formControlName="locationId1" [(ngModel)]="locationId1"></ion-input>
            <ion-input style="text-align: center;margin-left: 12px;
          margin-right: 12px;" type="number" formControlName="quantity1" [(ngModel)]="quantity1" class="form-control"
              (keyup)="onKey(AAchirkos,quantity1,locationId1)"></ion-input>
          </ion-item>
        </ion-list>
        <ion-item style="height: 60px">
          <!--<ion-label hidden >Store </ion-label>
          <ion-input hidden formControlName="storeid" [(ngModel)]="this.defaultStore"></ion-input>
           <div class="dx-field">
            <dx-lookup [items]="listOfStore" [searchExpr]="['name']" valueExpr="id" [displayExpr]="getDisplayExpr"
              placeholder="Select Stores" formControlName="storeid" (onValueChanged)="SelectedStore($event)"
              itemTemplate="listOfStore">
              <dxo-drop-down-options title="Select Stores"></dxo-drop-down-options>
              <div *dxTemplate="let item of 'listOfStore'">
                <div class="custom-item">
                  <div>{{item.name}}</div>
                </div>
              </div>
            </dx-lookup>
           </div> -->
          <ion-label slot="end"> Quantity </ion-label>
          <ion-input slot="end" [ngModel]="this.Qty" formControlName="Quantity" type="number" (click)="AddLocation()"
            readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Description </ion-label>
          <ion-input formControlName="discrption"></ion-input>
          <small *ngIf="!regform.get('discrption').valid && regform.get('discrption').touched">This field is required!
          </small>
        </ion-item>
        <ion-item>
          <ion-label>Price </ion-label>
          <ion-input formControlName="price" type="number"></ion-input>
          <small *ngIf="!regform.get('price').valid && regform.get('price').touched">
            This field is required!
          </small>
        </ion-item>
        <ion-item>
          <ion-label>Cost </ion-label>
          <ion-input formControlName="cost" type="number"></ion-input>
          <small *ngIf="!regform.get('cost').valid && regform.get('cost').touched">
            This field is required!
          </small>
        </ion-item>
        <ion-item>
          <ion-label>Brand </ion-label>
          <ion-input formControlName="brand"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Remark </ion-label>
          <ion-textarea formControlName="remark" placeholder="Enter more information here..."></ion-textarea>
        </ion-item>
        <div class="picker">
          <ion-img role="button" class="image" (click)="onPickImage()" [src]="base64textString"
            *ngIf="base64textString"></ion-img>
          <ion-button color="primary" (click)="onPickImage()" *ngIf="!base64textString">
            <ion-icon name="camera" slot="start"></ion-icon>
            <ion-label>Take Picture</ion-label>
          </ion-button>
        </div>
        <input hidden type="file" accept="image/jpeg" *ngIf="usePicker" #filePicker (change)="onFileChosen($event)" />
        <div style="text-align: center; margin: auto">
          <!-- [disabled]="regform.invalid" -->
          <ion-button type="submit" id="add items" (click)="Save()">
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
            {{editMode?'Update Items':'Add Items'}}
          </ion-button>
        </div>
      </ion-list>
    </form>
  </div>
  <div *ngIf="listItems">
    <ion-searchbar (keyup)="filter($event)" [(ngModel)]="searchText" showCancelButton="never"></ion-searchbar>
    <table class="table">
      <colgroup>
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
      </colgroup>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="listofItems?.length==0">
          <td class="font-italic text-center" colspan="5">
            No item selected for this order.
          </td>
        </tr>
        <tr *ngFor="let item of listofItems|filter:searchText  | paginate : {
                                              itemsPerPage: tableSize,
                                              currentPage: page,
                                              totalItems: count
                                            };
                                      let i = index" [class.active]="i == currentIndex">
          <th scope="row">{{i + 1}}</th>
          <td>
            <ion-thumbnail slot="start">
              <img [src]="item.picture" />
            </ion-thumbnail>
          </td>
          <td>{{item.name}}</td>
          <td>{{item.quantity}}</td>
          <td (click)="Edit(item)">
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </td>
          <td (click)="historyOfItems(item)" value="list">
            <ion-icon name="information-circle"></ion-icon>
          </td>
          <td (click)="delete(item)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next"
        (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>
  <div *ngIf="listItemsOfAdd">
    <dx-select-box id="select-catagoryName" [dataSource]="catagoryName" placeholder="Select Catagory"
      [value]="catagoryName" (onValueChanged)="filterSelected($event)">
    </dx-select-box>
    <dx-button text="Clear Selection" [disabled]="!selectedRows?.length" (onClick)="grid.instance.clearSelection()">
    </dx-button>
    <dx-data-grid #grid id="grid-container" [dataSource]="listofItems" keyExpr="id" [(selectedRowKeys)]="selectedRows"
      (onSelectionChanged)="selectionChangedHandler($event)" [showBorders]="true" [showRowLines]="true">
      <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxi-column dataField="name" caption="name" [width]="90"></dxi-column>
      <dxi-column dataField="AmaricName" caption="AmaricName" [width]="180"></dxi-column>
      <dxi-column dataField="picture" cellTemplate="cellTemplate" height="80%" width="90px"></dxi-column>
      <div *dxTemplate="let cell of 'cellTemplate'">
        <img src="{{cell.value}}" />
      </div>
    </dx-data-grid>
    <ion-button expand="block" (click)="selectedItems()">select</ion-button>
  </div>
  <ion-footer *ngIf="filterToolbar">
    <ion-toolbar>
      <ion-row align-items-center>
        <ion-col>
          <ion-button (click)="fliter()" ion-button full clear icon-left style="width: 150px;">
            <ion-icon slot="start" name="options-outline"></ion-icon>Filter
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="sort()" ion-button full clear icon-left style="width: 150px;">Sort by
          </ion-button>
          <ion-label>{{this.sortName}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed"
    [ngClass]="{'location-visible': showScroll, 'location-hidden': !showScroll}">
    <ion-fab-button color="light" (click)="pageScroller()">
      <ion-icon md="chevron-up-outline" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>