<ion-header>
  <ion-toolbar>
    <div>
      <ion-item lines="none">
        <ion-button (click)="reset()">Reset</ion-button>
        <ion-label style="text-align: center;">List filter</ion-label>
        <ion-button (click)="apply()">Apply</ion-button>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="regform1">
  <ion-item>
    <ion-label>Item Type</ion-label>
          <ion-select interface="popover" formControlName="type">
            <ion-select-option value="Stocked product">Stocked product</ion-select-option>
            <ion-select-option value="Serialized product">Serialized product</ion-select-option>
            <ion-select-option value="Non-Stocked product">Non-Stocked product</ion-select-option>
            <ion-select-option value="Service">Service</ion-select-option>
          </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select interface="popover" formControlName="CatagoryId">
      <ion-select-option *ngFor="let code of ListOfItemCategory" value="{{code?.id}}">
        {{code?.categoryName}}
      </ion-select-option>
    </ion-select>
  </ion-item>
</form>
</ion-content>